* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.header {
    font-size: 30px;
    padding: 40px;
    overflow: hidden;
    background-color: #f8fafc;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 10px;

}




h1 {
    font-family: 'Tilt Warp', cursive;
}

p {
    padding: 5px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;


}

body {
    background-color: #111827;
    font-family: 'Roboto', sans-serif;

}

.button-div {
    display: flex;
    justify-content: center;

}

#new-book-btn i.fa-solid {
    font-size: 17px;
    margin-right: 10px;
}

#new-book-btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #4CAF50;
    color: white;
    font-size: 17px;

    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Tilt Warp', cursive;
}

#new-book-btn:hover {
    background-color: #3e8e41;
}


.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease-in-out;
    font-family: 'Roboto', sans-serif;



}

.popup.active {
    opacity: 1;
    pointer-events: auto;
}

#book-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

#book-form label {
    font-size: 18px;
    margin-bottom: 5px;
}

#book-form input[type="text"],
#book-form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

#book-form input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;

}

#book-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

#close-form-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    color: #4CAF50;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

}

#close-form-btn:hover {
    background-color: #3e8e41;
    color: #fff;
}

#book-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 2em;
    margin: 50px;
}

#book-cards .card {
    flex: 1 1 300px;
    margin: 10px;
}

.card {

    background-color: #f8fafc;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.card h2 {
    margin-top: 0;
}

.card p {
    margin-bottom: 0;
}

.card button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 10px;
    font-family: 'Tilt Warp', cursive;

}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #f8fafc;
    font-family: 'Tilt Warp', cursive;
    font-size: 24px;
    text-align: center;
    margin-top: auto;
    width: 100%;
    padding: 20px 0;
}

.footer a {
    color: #f8fafc;
    font-size: 30px;
    font-family: 'Tilt Warp', cursive;

}

.github-icon:hover .fa-brands {
    transform: rotate(360deg);
    transition: transform 0.5s ease-in-out;
}

@media only screen and (max-width: 767px) {
    #book-cards {
        flex-direction: column;
        align-items: center;
    }

    @media only screen and (max-width: 767px) {
        .header h1 {
            font-size: 30px;
            padding: 10px;
        }
    }

    #book-cards .card {
        flex: 1 1 auto;
    }
}

@media only screen and (max-width: 768px) {
    #book-cards {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media only screen and (max-width: 480px) {
    #book-cards {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
